<app-manifest>

  <style scoped>
    :scope {
      display: block;
      counter-reset: manifest;
      padding: 1em 0;
    }
    article {
      overflow: hidden;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      text-align: left;
      position: relative;
      margin: .5em 0;
    }
    h3 {
      width: 75%;
      margin: 0;
      padding: 0 5% 0 20%;
      display: inline-block;
      font-size: 100%;
      font-weight: normal;
      white-space: normal;
      vertical-align: middle;
    }
    h3:before {
      content: counter(manifest);
      counter-increment: manifest;
      position: absolute;
      top: 50%;
      margin-top: -.9em;
      right: 83%;
      width: 2em;
      height: 2em;
      line-height: 2em;
      font-size: 120%;
      border-radius: 1em;
      text-align: center;
      background: #55ACEE;
      color: white;
      vertical-align: middle;
    }
    h3:after {
      content: '\25BA';
      position: absolute;
      right: 1em;
      top: 50%;
      margin-top: -.5em;
      line-height: 1em;
      color: #ccc;
      font-size: 60%;
    }
    p {
      width: 100%;
      display: inline-block;
      font-size: 92%;
    }
    @media (min-width: 500px) {
      :scope {
        white-space: nowrap;
        overflow-x: scroll;
        width: 100%;
      }
      article {
        display: inline-block;
        width: 14em;
        margin: 1.5em;
      }
      h3 {
        display: block;
        padding: 0 0 1em;
        margin: 4em 0 1em;
        width: auto;
        border-bottom: 1px solid #ddd;
      }
      p {
        display: block;
        white-space: normal;
      }
      h3:before {
        top: 0;
        margin-top: 0;
        left: 50%;
        margin-left: -1em;
      }
      h3:after { display: none }
    }
  </style>

  <article each={ props }>
    <h3>{ title }</h3>
    <p>{ desc }<a if={ url } href={ url }><fa icon="arrow-right"></fa>くわしく</a></p>
  </article>

  <script>
    this.props = opts.props
  </script>

</app-manifest>
