<app-rss>

  <style scoped>
    :scope {
      display: block;
      background: #656363!important;
      color: white;
      padding: 2em 0;
    }
    section {
      max-width: 700px;
      margin: 0 auto;
      position: relative;
    }
    fa {
      font-size: 200%;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .button {
      background: white;
      color: #656363;
      width: 60%;
      display: inline-block;
      line-height: 2em;
      border-radius: 3px;
    }
    ul {
      margin: 2em 0;
      padding: 0;
      border-top: 1px dotted white;
      text-align: left;
      list-style: none;
    }
    li {
      padding: .8em 1.2em;
      border-bottom: 1px dotted white;
    }
    @media (min-width: 700px) {
      fa {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 300%;
      }
      ul {
        margin-left: 10em;
      }
      .button {
        width: 8em;
        float: left;
        font-size: 90%;
        margin-top: -4em;
        background-color: rgba(255,255,255,.5);
      }
      .button:hover {
        background-color: white;
      }
    }
  </style>

  <section>
    <fa icon="rss-square"></fa>
    <ul>
      <li each={ articles }><a href={ url }>{ title }</a></li>
    </ul>
    <a class="button" href={ props.url }>{ props.title }</a>
  </section>

  <script>
    var FEED_API = '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&q='
    var MAX = 3
    var jsonp = function (url, cb) {
      var c = '__JsonpCallback__'
      var s = document.createElement('script');
      s.src = url.replace(/\?$/, c)
      window[c] = function(d){ cb(d); delete window[c] }
      document.getElementsByTagName('head')[0].appendChild(s)
    }

    this.props = opts.props
    this.articles = []

    load (data) {
      var feed = data.responseData.feed
      this.articles = feed.entries.map(function(entry){
        return {
          title: entry.title,
          url:   entry.link
        }
      })
      this.update()
    }

    jsonp(FEED_API + this.props.feed + '&num=' + MAX + '&callback=?', this.load)
  </script>

</app-rss>
