<app-events>

  <style scoped>
    :scope {
      display: block;
      padding: 1em 0;
    }
    section {
      margin: 0 auto;
      text-align: left;
    }
    article {
      text-align: left;
      position: relative;
      margin: 1em 0;
      padding-left: 100px;
    }
    h3 {
      font-size: 110%;
      font-weight: normal;
      margin: 0 0 .7em;
    }
    h3 fa {
      font-size: 1.7em;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      color: white;
      background: #7992A7;
      position: absolute;
      left: .8em;
      top: 0;
    }
    time {
      font-size: 90%;
      display: block;
      margin-bottom: .3em;
      color: #666;
    }
    span {
      display: block;
      font-size: 85%;
      color: #666;
    }
    span fa {
      color: #E33247;
      font-size: 120%;
      margin-right: .3em;
    }
    @media (min-width: 500px) {
      :scope {
        padding: 1em 2em;
      }
      section {
        max-width: 700px;
      }
      article {
        display: inline-block;
        width: 250px;
      }
    }
  </style>

  <section>
    <article each={ props }>
      <h3><fa icon="bullhorn"></fa>{ title }</h3>
      <time datetime={ start }>{ startJa }</time>
      <span><fa icon="map-marker"></fa>{ location }</span>
    </article>
  </section>

  <script>
    var DAY_OF_WEEK = ['日', '月', '火', '水', '木', '金', '土']
    var FORMAT = function(s){
      function pad (n) { return (n < 10 ? '0' : '') + n }
      var d = new Date(s)
      return d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate() + '(' + DAY_OF_WEEK[d.getDay()] + ') ' +
             d.getHours() + ':' + pad(d.getMinutes())
    }

    this.props = opts.props.map(function(s){
      return {
        title:    s.title,
        location: s.location,
        start:    s.start,
        startJa:  FORMAT(s.start)
      }
    })
  </script>

</app-events>
