<app-profile>

  <style scoped>
    :scope {
      display: block;
      background: #55ACEE!important;
      color: white;
      padding: 2.2em 0;
      position: relative;
      overflow: auto;
      zoom: 1;
    }
    section {
      max-width: 700px;
      margin: 0 auto;
      position: relative;
    }
    h3 {
      font-size: 100%;
      font-weight: normal;
      margin: 0;
    }
    h3 fa { font-size: 200% }
    ul {
      margin: 2em 0;
      padding: 0;
      text-align: left;
      list-style: none;
    }
    li {
      padding: .5em 1.2em;
      border-bottom: 1px dotted white;
    }
    li:first-child {
      border-top: 1px dotted white;
    }
    time {
      margin-right: 1em;
      font-weight: bold;
    }
    figure {
      margin: 0;
      padding: 0 1em;
    }
    figcaption {
      padding: 16px;
      margin-bottom: 3em;
      background: white;
      color: black;
      position: relative;
    }
    figcaption:after {
      content: '*';
      color: transparent;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 25px solid white;
      position: absolute;
      bottom: -25px;
      left: 50%;
      margin-left: -17px;
    }
    img {
      width: 40%;
      border-radius: 3px;
    }
    @media (min-width: 700px) {
      div {
        width: 350px;
        padding-top: 1em;
        float: right;
      }
      figure {
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  </style>

  <section>
    <div>
      <h3><fa icon="trophy"></fa></h3>
      <ul>
        <li each={ records }><time>{ year }</time>{ desc }</li>
      </ul>
    </div>
    <figure>
      <figcaption>
        { props.message }
      </figcaption>
      <img src={ props.photo }>
    </figure>
  </section>

  <script>
    this.props = opts.props
    this.records = opts.records
  </script>

</app-profile>
