<app>

  <style scoped>
    :scope > *:nth-child(even) { background: #eaeaea }
  </style>

  <app-hero     props={ hero     } links={ links } />
  <app-manifest props={ manifest } />
  <app-youtube  props={ youtube  } />
  <app-events   props={ events   } />
  <app-profile  props={ profile  } records={ records } />
  <app-feed     props={ feed     } />
  <app-footer   props={ footer   } />

  <script>
    var pre = (new Date().getTime() < new Date(opts.publishdate).getTime())

    this.hero     = pre ? opts.preopen : opts.profile
    this.links    = opts.links
    this.youtube  = opts.youtube
    this.manifest = opts.manifest
    this.profile  = { message: this.hero.message, photo: this.hero.profile }
    this.records  = opts.records
    this.feed     = opts.feed
    this.footer   = { copyrights: opts.copyrights, license: opts.license }
    this.events   = opts.events
  </script>

</app>
